@{
    ViewBag.Title = "ANA SAYFA";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-success float-right">Yıllık</span>
                    <h5>Gelir</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">0,000</h1>
                    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                    <small>Toplam Gelir</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-info float-right">Yıllık</span>
                    <h5>Fatura</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">0,000</h1>
                    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                    <small>Satış Faturası</small>
                </div>
            </div>
        </div>
     
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-primary float-right">Firma</span>
                    <h5>Cari</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">0,000</h1>
                    <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                    <small>Toplam Hesap</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-title">
                    <span class="label label-danger float-right">Yıllık</span>
                    <h5>Gider</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">0,000</h1>
                    <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                    <small>Toplam Gider</small>
                </div>
            </div>
        </div>
    </div>

   


            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Son Yapılan İşlemler</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%" class="text-center">No.</th>
                                                <th>İşlem No</th>
                                                <th>İşlem</th>
                                                <th>Açıklama</th>
                                                <th class="text-center">Tarih</th>
                                                <th class="text-center">Tutar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>001</td>
                                                <td>
                                                    Security doors
                                                </td>
                                                <td>
                                                    SA web portalına hoşgeldiniz
                                                </td>
                                                <td class="text-center small">16 Jun 2020</td>
                                                <td class="text-center"><span class="label label-primary">₺483.00</span></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">2</td>
                                                <td>001</td>
                                                <td>
                                                    Wardrobes
                                                </td>
                                                <td>
                                                    SA web portalına hoşgeldiniz
                                                </td>
                                                <td class="text-center small">10 Jun 2020</td>
                                                <td class="text-center"><span class="label label-primary">₺327.00</span></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">3</td>
                                                <td>001</td>
                                                <td>
                                                    Set of tools
                                                </td>
                                                <td>
                                                    SA web portalına hoşgeldiniz
                                                </td>
                                                <td class="text-center small">12 Jun 2020</td>
                                                <td class="text-center"><span class="label label-warning">$125.00</span></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">4</td>
                                                <td>001</td>
                                                <td> Panoramic pictures</td>
                                                <td>
                                                    SA web portalına hoşgeldiniz
                                                </td>
                                                <td class="text-center small">22 Jun 2020</td>
                                                <td class="text-center"><span class="label label-primary">₺344.00</span></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">5</td>
                                                <td>001</td>
                                                <td>Phones</td>
                                                <td>
                                                    SA web portalına hoşgeldiniz
                                                </td>
                                                <td class="text-center small">24 Jun 2020</td>
                                                <td class="text-center"><span class="label label-primary">₺235.00</span></td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">6</td>
                                                <td>001</td>
                                                <td>Monitors</td>
                                                <td>
                                                    SA web portalına hoşgeldiniz
                                                </td>
                                                <td class="text-center small">26 Jun 2013</td>
                                                <td class="text-center"><span class="label label-primary">₺100.00</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  border-bottom white-bg dashboard-header">
                <div class="col-sm-3">
                    <h2>Hoşgeldin İlhan</h2>
                    <small>Bu Bölümde Bildirimler görüntülenecektir.[Güncelleniyor]</small>
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="float-right">
                                09:00
                            </span>
                            <span class="label label-success">1</span>
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                10:16
                            </span>
                            <span class="label label-info">2</span>
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                08:22
                            </span>
                            <span class="label label-primary">3</span>
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                11:06
                            </span>
                            <span class="label label-default">4</span>
                        </li>
                        <li class="list-group-item">
                            <span class="float-right">
                                12:00
                            </span>
                            <span class="label label-primary">5</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="flot-chart dashboard-chart">
                        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                    </div>
                    <div class="row text-left">
                        <div class="col">
                            <div class=" m-l-md">
                                <span class="h5 font-bold m-t block">₺ 0,00</span>
                                <small class="text-muted m-b block">Güncelleniyor..Raporlar aktif edilmeyi bekliyor.[En yakın güncellememizi takip ediniz.]</small>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="statistic-box">
                        <h4>
                            Grafikler
                        </h4>

                        <div class="row text-center">
                            <div class="col-lg-6">
                                <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                <h5>Sa</h5>
                            </div>
                            <div class="col-lg-6">
                                <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                <h5>Yazılım</h5>
                            </div>
                        </div>
                        <div class="m-t">
                            <small>Güncelleniyor..Raporlar aktif edilmeyi bekliyor.[En yakın güncellememizi takip ediniz.]</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @section Scripts {
            @Scripts.Render("~/plugins/flot")
            @Scripts.Render("~/plugins/sparkline")
            @Scripts.Render("~/plugins/chartJs")
            @Scripts.Render("~/plugins/peity")
            <script type="text/javascript">
                $(document).ready(function () {

                    $(".bar_dashboard").peity("bar", {
                        fill: ["#1ab394", "#d7d7d7"],
                        width: 100
                    })

                    $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
                        type: 'bar',
                        barWidth: 8,
                        height: '150px',
                        barColor: '#1ab394',
                        negBarColor: '#c6c6c6'
                    });

                    var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

                    setInterval(function () {
                        var random = Math.round(Math.random() * 10)
                        var values = updatingChart.text().split(",")
                        values.shift()
                        values.push(random)

                        updatingChart
                            .text(values.join(","))
                            .change()
                    }, 1000);

                    var data1 = [
                        [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
                    ];
                    var data2 = [
                        [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
                    ];
                    $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                        data1, data2
                    ],
                            {
                                series: {
                                    lines: {
                                        show: false,
                                        fill: true
                                    },
                                    splines: {
                                        show: true,
                                        tension: 0.4,
                                        lineWidth: 1,
                                        fill: 0.4
                                    },
                                    points: {
                                        radius: 0,
                                        show: true
                                    },
                                    shadowSize: 2
                                },
                                grid: {
                                    hoverable: true,
                                    clickable: true,
                                    tickColor: "#d5d5d5",
                                    borderWidth: 1,
                                    color: '#d5d5d5'
                                },
                                colors: ["#1ab394", "#464f88"],
                                xaxis: {
                                },
                                yaxis: {
                                    ticks: 4
                                },
                                tooltip: false
                            }
                    );


                    var data1 = [
                        [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
                    ];
                    var data2 = [
                        [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
                    ];
                    $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                        data1, data2
                    ],
                            {
                                series: {
                                    lines: {
                                        show: false,
                                        fill: true
                                    },
                                    splines: {
                                        show: true,
                                        tension: 0.4,
                                        lineWidth: 1,
                                        fill: 0.4
                                    },
                                    points: {
                                        radius: 0,
                                        show: true
                                    },
                                    shadowSize: 2
                                },
                                grid: {
                                    hoverable: true,
                                    clickable: true,
                                    tickColor: "#d5d5d5",
                                    borderWidth: 1,
                                    color: '#d5d5d5'
                                },
                                colors: ["#1ab394", "#1C84C6"],
                                xaxis: {
                                },
                                yaxis: {
                                    ticks: 4
                                },
                                tooltip: false
                            }
                    );

                    var doughnutData = {
                        labels: ["Web", "Masaüstü", "Mobil"],
                        datasets: [{
                            data: [300, 50, 100],
                            backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                        }]
                    };


                    var doughnutOptions = {
                        responsive: false,
                        legend: {
                            display: false
                        }
                    };


                    var ctx4 = document.getElementById("doughnutChart").getContext("2d");
                    new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

                    var doughnutData = {
                        labels: ["Web", "Mobil", "Masaüstü"],
                        datasets: [{
                            data: [70, 27, 85],
                            backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                        }]
                    };


                    var doughnutOptions = {
                        responsive: false,
                        legend: {
                            display: false
                        }
                    };


                    var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
                    new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

                });
            </script>
        }
