
@{
    ViewBag.Title = "Stok Raporları";
}





@*<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h3></h3>
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a href="@Url.Action("Raporlar", "Raporlar")">Raporlar</a>
            </li>




            <li class="active breadcrumb-item">
                <strong>Stok Raporları</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>*@



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title ">


                    <div id="veri">

                        <div class="tabs-container">

                            <ul class="nav nav-tabs pt-4">
                                <li class="nav-link">
                                    <a href="#home" class="nav-link active" data-toggle="tab"><b><strong>Stok Envarter</strong></b></a>
                                </li>
                                <li class="nav-link">
                                    <a href="#Ekbilgi" class="nav-link " data-toggle="tab"><b><strong>Stok Durum</strong></b></a>
                                </li>
                                <li class="nav-link">
                                    <a href="#Kategoriler" class="nav-link " data-toggle="tab"><b><strong>Stok Fiyat Analizi</strong></b></a>
                                </li>


                            </ul>

                            <div style="margin:10px" class="tab-content">


                                <div class="tab-pane active" id="home">
                                    <div class="ibox-title ">

                                        @*<h5>&nbsp;Cari Hareketleri Listesini görüntülemektesiniz</h5>*@

                                        <div class="row" style="background-color:white">

                                            <div class="col-sm-4">
                                                <div class="">
                                                    <label><b>Başlangıç Tarihi</b></label>

                                                    <input type="date" id="min" class="form-control" value="@Convert.ToDateTime(new DateTime(2021,1,1,0,0,0)).ToString("yyyy-MM-dd")" name="min">
                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="pl-0" ">
                                                    <label><b>Bitiş Tarihi</b></label>

                                                    <input type="date" id="max" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="max">
                                                </div>

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label><b>DEPOLAR </b></label>
                                                    <select id="DepoID" name="select" class="custom-select">
                                                        <option selected value="Tumu">Tümü</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-2 p-4">


                                                <button class="btn btn-danger" onclick="Getir()"> Uygula</button>
                                            </div>


                                        </div>

                                    </div>
                                    <br />
                                    <br />
                                    <table class="table table-striped table-bordered table-hover dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>STOK KODU</th>
                                                <th>ÜRÜN ADI</th>
                                                <th>MARKA</th>
                                                <th>GRUBU</th>
                                                <th>ÜRÜN TÜRÜ</th>
                                                <th>KDV</th>
                                                <th>BARKOD</th>
                                                <th style="visibility:visible">ID</th>
                                                <th>GİRİŞ MİKTARI</th>
                                                <th>ÇIKIŞ MİKTARI</th>
                                                <th>SON ALIŞ</th>
                                                <th>KALAN MİKTAR (KRİTİK)</th>
                                                <th>STOK LİMİTİ</th>
                                                <th>ALIŞ FİYATI</th>
                                                <th>SATIŞ FİYATI</th>
                                                <th>KALAN STOK</th>
                                                <th>TL KARŞILIĞI</th>
                                                <th>DEPO MEVCUDU</th>
                                                <th>ENVANTER</th>
                                                <th>PB</th>







                                            </tr>
                                        </thead>

                                    </table>
                                </div>


                                <!--Ek Bilgiler-->
                                <div class="tab-pane " id="Ekbilgi">

                                    <table class="table table-striped table-bordered table-hover dataTables-example2">
                                        <thead>
                                            <tr>
                                                <th>STOK KODU</th>
                                                <th>ÜRÜN ADI</th>
                                                <th>BİRİMİ</th>
                                                <th style="visibility:visible">ID</th>
                                                <th>STOKTA KALAN</th>






                                            </tr>
                                        </thead>

                                    </table>

                                </div>

                                <!--Ek Bilgiler-->
                                <div class="tab-pane " id="Kategoriler">


                                    <table class="table table-striped table-bordered table-hover dataTables-example3" width="100%">
                                        <thead>
                                            <tr>
                                                <th>STOK KODU</th>
                                                <th>STOK ADI</th>
                                                <th>BİRİM</th>
                                                <th style="visibility:visible">ID</th>
                                                <th>KALAN</th>
                                                <th>ALIŞ FİYATI</th>
                                                <th>SATIŞ FİYATI</th>
                                                <th>SON ALIŞ BRÜT</th>
                                                <th>SON ALIŞ NET</th>
                                                <th>SON SATIŞ BRÜT</th>
                                                <th>SON SATIŞ NET</th>



                                            </tr>
                                        </thead>

                                    </table>


                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

}

@section Scripts {


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/mask.js"></script>
    <script src="~/Scripts/musteri.js"></script>
    <script src="~/Content/datatables.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment.min.js"></script>


    <script type="text/javascript">

        var oTable;
        var oTable2;
        var oTable3;


        function Getir() {



            oTable.ajax.reload();



        }


             $(document).ready(function () {




                 oTable = $('.dataTables-example').DataTable({
                     "scrollX": true,




                     pageLength: 10,
                     'columnDefs': [
                      {
                          "targets": 2,
                          "className": "text-right",
                      }],
                     "ajax": {
                         "url": "/Raporlar/GetStokRapor",
                         "type": "GET",
                         "datatype": "json",
                         data: {
                             bas: function () { return $('#min').val() },
                             bit: function () { return $('#max').val() },
                             DepoID: function () { return $('#DepoID').val() }
                         }
                     },

                     dom: '<"html5buttons"B>lTfgit',
                     "columns": [

                              { "data": "Stokkodu" },
                              { "data": "UrunAdi" },
                              { "data": "Marka" },
                              { "data": "Grubu" },
                              { "data": "UrunTuru" },
                              { "data": "KDV", className: "text-right" },
                              { "data": "Barkod", className: "text-right" },
                              { "data": "ID", visible: false },


                              { "data": "GirişMiktarı", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "ÇıkışMiktarı", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "SonAlis", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "KalanMiktarKritik", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "StokLimiti", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "AlışFiyatı", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "SatışFiyatı", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "KalanSTKU", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "TLKarşılığı", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                              { "data": "DepoMevcudu", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },


                              { "data": "Envanter", className: "text-right" },
                              { "data": "PB", className: "text-right" },



                     ],

                     "language": {
                         "sDecimal": ",",
                         "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                         "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                         "sInfoEmpty": "Kayıt yok",
                         "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                         "sInfoPostFix": "",
                         "sInfoThousands": ".",
                         "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                         "sLoadingRecords": "Yükleniyor...",
                         "sProcessing": "İşleniyor...",
                         "sSearch": "Ara:",
                         "sZeroRecords": "Eşleşen kayıt bulunamadı",
                         "oPaginate": {
                             "sFirst": "İlk",
                             "sLast": "Son",
                             "sNext": "Sonraki",
                             "sPrevious": "Önceki"
                         },
                         "oAria": {
                             "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                             "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                         },
                         "select": {
                             "rows": {
                                 "_": "%d kayıt seçildi",
                                 "0": "",
                                 "1": "1 kayıt seçildi"
                             }
                         }
                     },
                     buttons: [
                         { extend: 'csv', text: 'Excel' },
                         { extend: 'excel', title: 'ExampleFile' },
                         { extend: 'pdf', title: 'ExampleFile' },

                         {
                             extend: 'print',
                             customize: function (win) {
                                 $(win.document.body).addClass('white-bg');
                                 $(win.document.body).css('font-size', '10px');

                                 $(win.document.body).find('table')
                                         .addClass('compact')
                                         .css('font-size', 'inherit');
                             }
                         }
                     ]

                 });



                    oTable2 = $('.dataTables-example2').DataTable({

                        pageLength: 10,

                        "ajax": {
                            "url": "/Raporlar/GetStokEnvarter",
                            "type": "GET",
                            "datatype": "json",
                        },

                        dom: '<"html5buttons"B>lTfgit',
                        "columns": [

                          { "data": "StokKodu" },
                          { "data": "UrunAdi" },
                          { "data": "Birimi" },
                            { "data": "ID" ,visible:false},
                          { "data": "StoktaKalan", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },



                        ],

                        "language": {
                            "sDecimal": ",",
                            "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                            "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                            "sInfoEmpty": "Kayıt yok",
                            "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                            "sLoadingRecords": "Yükleniyor...",
                            "sProcessing": "İşleniyor...",
                            "sSearch": "Ara:",
                            "sZeroRecords": "Eşleşen kayıt bulunamadı",
                            "oPaginate": {
                                "sFirst": "İlk",
                                "sLast": "Son",
                                "sNext": "Sonraki",
                                "sPrevious": "Önceki"
                            },
                            "oAria": {
                                "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                                "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                            },
                            "select": {
                                "rows": {
                                    "_": "%d kayıt seçildi",
                                    "0": "",
                                    "1": "1 kayıt seçildi"
                                }
                            }
                        },
                        buttons: [
                            { extend: 'csv', text: 'Excel' },
                            { extend: 'excel', title: 'ExampleFile' },
                            { extend: 'pdf', title: 'ExampleFile' },

                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');

                                    $(win.document.body).find('table')
                                            .addClass('compact')
                                            .css('font-size', 'inherit');
                                }
                            }
                        ]

                    });

                    oTable3 = $('.dataTables-example3').DataTable({
                        pageLength: 10,

                        "ajax": {
                            "url": "/Raporlar/GetStokAnaliz",
                            "type": "GET",
                            "datatype": "json",
                        },





                        dom: '<"html5buttons"B>lTfgit',
                        "columns": [
                         { "data": "StokKodu" },
                         { "data": "UrunAdi" },
                         { "data": "Birimi" },
                         {"data": "ID", visible: false },
                         { "data": "StoktaKalan", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                         { "data": "AlishFiyat", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                         { "data": "SatishFiyat", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                         { "data": "sonAlis", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                         { "data": "SonSatisB", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                         { "data": "SonSatis", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },
                         { "data": "SonSatisB", render: $.fn.dataTable.render.number('.', ',', 2, ''), className: "text-right" },

                         ],

                        "language": {
                            "sDecimal": ",",
                            "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                            "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                            "sInfoEmpty": "Kayıt yok",
                            "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                            "sInfoPostFix": "",
                            "sInfoThousands": ".",
                            "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                            "sLoadingRecords": "Yükleniyor...",
                            "sProcessing": "İşleniyor...",
                            "sSearch": "Ara:",
                            "sZeroRecords": "Eşleşen kayıt bulunamadı",
                            "oPaginate": {
                                "sFirst": "İlk",
                                "sLast": "Son",
                                "sNext": "Sonraki",
                                "sPrevious": "Önceki"
                            },
                            "oAria": {
                                "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                                "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                            },
                            "select": {
                                "rows": {
                                    "_": "%d kayıt seçildi",
                                    "0": "",
                                    "1": "1 kayıt seçildi"
                                }
                            }
                        },
                        buttons: [
                            { extend: 'csv', text: 'Excel'},
                            { extend: 'excel', title: 'ExampleFile' },
                            { extend: 'pdf', title: 'ExampleFile' },

                            {
                                extend: 'print',
                                customize: function (win) {
                                    $(win.document.body).addClass('white-bg');
                                    $(win.document.body).css('font-size', '10px');

                                    $(win.document.body).find('table')
                                            .addClass('compact')
                                            .css('font-size', 'inherit');
                                }
                            }
                        ]

                    });


                });

    </script>
}






