@{
    Layout = null;
}
<!DOCTYPE html>
<style>

    .mahmut {
        border: 2px solid currentcolor;
        background-color: transparent;
    }

        .mahmut:invalid {
            border: 1px dashed darkred;
            background-color: #e8f0fe;
        }

            .mahmut:invalid:focus {
                background-image: linear-gradient( darkred);
                background-color: white;
            }
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SA Yazılım | Kayıt Ol</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="text-center middle-box loginscreen animated fadeInDown" id="veri">
        <div>
            <div>
                <a>
                    <img alt="image" style="width:40%;height:30%" src="~/Content/LOGO.png" />
                </a>
            </div>
            @*<h3>HOŞGELDİNİZ</h3>
                <p style="color:darkturquoise; font-family:'Century Gothic';font-size:14px">
                    Fark yaratan fikirlerden gelen ilham !
                </p>*@
            <br />
            <p style="color:#351a5f; font-family:'Century Gothic';font-size:20px"><strong> KAYIT OL </strong></p>
            <br />
            <form action="/User/Register" method="post">

                <div class="container-fluid p-0">

                    <div class="row" align="left">
                        <div class="custom-control custom-radio custom-control-inline col-md-6 col-sm-6">
                            <input name="Muhasebe1" id="Muhasebe1" type="radio" class="custom-control-input" value="Muhasebe1">
                            <label for="Muhasebe1" class="custom-control-label">Ön Muhasebe-1</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-md-6 col-sm-6">
                            <input name="Muhasebe2" id="Muhasebe2" type="radio" class="custom-control-input" value="Muhasebe2">
                            <label for="Muhasebe2" class="custom-control-label">Ön Muhasebe 2</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-md-6 col-sm-6">
                            <input name="Servis1" id="Servis1" type="radio" class="custom-control-input" value="Servis1">
                            <label for="Servis1" class="custom-control-label">Teknik Servis</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline col-md-6 col-sm-6">
                            <input name="hizlisatis" id="hizlisatis" type="radio" class="custom-control-input" value="hizlisatis">
                            <label for="hizlisatis" class="custom-control-label">Perakende Satış</label>
                        </div>
                    </div>


                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            @Html.DropDownList("Pakettipi", new SelectList(AyarMetot.PaketList(), "Value", "Text", "Muhasebe1"), new { @id = "Pakettipi", @name = "Pakettipi", @class = "form-control", @style = "display:none" })
                        </div>
                    </div>
                </div>
                <div class="container-fluid p-0">
                    <div class="row">

                        <div class="form-group col-md-6 col-sm-6 pl-0">
                            <input type="text" name="FirmaIsmi" id="FirmaIsmi" class="form-control" placeholder="Firma İsmi" required>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 pl-0">
                            <input type="number" name="FirmaTel" id="mahmut" class="form-control mahmut" placeholder="Telefon" required minlength="10" maxlenght="11">
                        </div>

                        <div class="form-group col-md-6 col-sm-6 pl-0">
                            <input type="text" name="KullaniciAdi" id="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" required>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 pl-0">
                            <input type="password" name="Password" id="Password" class="form-control" placeholder="Şifre" required>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 pl-0">
                            <input type="email" name="Email" id="Email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 pl-0">
                            <textarea type="text" name="Aciklama" id="Aciklama" class="form-control" placeholder="Açıklama"></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary btn-block middle-box m-b pt-1">Kayıt Ol </button>
                <p class="text-muted text-center pt-2"><small>Zaten hesabınız var mı?</small></p>

                <a class="btn btn-sm btn-success btn-block middle-box pt-1" href="@Url.Action("Login", "Login")">Giriş</a>
            </form>
            <p class="m-t"> <small>SA YAZILIM &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>
</body>




<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
<link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet" />
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script src="~/Scripts/Fonksiyonlar.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {
        document.getElementById("Muhasebe1").checked = true;

       
        $('input[type="radio"]').click(function () {
            if ($(this).attr("value") == "Muhasebe1") {
                $("#Pakettipi").val("Muhasebe1");
                document.getElementById("Muhasebe2").checked = false;
                document.getElementById("Servis1").checked = false;
                document.getElementById("hizlisatis").checked = false;
            }
            else if ($(this).attr("value") == "Muhasebe2") {
                $("#Pakettipi").val("Muhasebe2");
                document.getElementById("Muhasebe1").checked = false;
                document.getElementById("Servis1").checked = false;
                document.getElementById("hizlisatis").checked = false;
            }
            else if ($(this).attr("value") == "Servis1") {
                $("#Pakettipi").val("Servis1");
                document.getElementById("Muhasebe1").checked = false;
                document.getElementById("Muhasebe2").checked = false;
                document.getElementById("hizlisatis").checked = false;
            }
            else if ($(this).attr("value") == "hizlisatis") {
                $("#Pakettipi").val("hizlisatis");
                document.getElementById("Muhasebe1").checked = false;
                document.getElementById("Muhasebe2").checked = false;
                document.getElementById("Servis1").checked = false;
            }
            else {
                $("#Pakettipi").val("Muhasebe1");
            }
        });




    });



</script>